  <div class="container">

    <div class="navbar">
      <div class="title">
        <h1>Gestione Inventario</h1>
      </div>
    </div>

    <!-- Form per registrare il prodotto tramite barcode -->
    <form [formGroup]="productForm" (ngSubmit)="registerOrSellProduct()">
      <div class="form-field">
        <input type="text" id="barcode" formControlName="barcode" required #barcodeInput />
        <label for="barcode">Scansiona un prodotto</label>
      </div>
    </form>

    <!-- Form di ricerca unificato -->
    <form [formGroup]="searchForm">
      <!-- Campo per nome -->
      <div class="form-field">
        <input type="text" id="searchName" formControlName="name" required />
        <label for="searchName">Cerca un prodotto per nome</label>
        <button type="button" class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <!-- Campo per barcode -->
      <div class="form-field">
        <input type="text" id="searchBarcode" formControlName="barcode" required />
        <label for="searchBarcode">Cerca un prodotto per barcode</label>

        <button type="button" class="search-button">
          <mat-icon>search</mat-icon>
        </button>
        <button type="button" class="clear-button" (click)="clearBarcodeSearch()">
          <img src="assets/eraser.png" alt="Cancella">
        </button>
      </div>
    </form>

      <!-- Messaggi di errore e successo -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    @if (loading) {
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate" diameter="110"></mat-progress-spinner>
    </div>
    }
    
    <!-- Tabella prodotti -->
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
      
      <!-- Colonna Barcode -->
      <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef>Barcode</th>
        <td mat-cell *matCellDef="let product">{{product.barcode}}</td>
      </ng-container>

      <!-- Colonna Nome  -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let product">{{product.name || 'Non specificato'}}</td>
      </ng-container>

      <!-- Colonna Prezzo -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Prezzo</th>
        <td mat-cell *matCellDef="let product">{{product.price | currency:'EUR'}}</td>
      </ng-container>

      <!-- Colonna Quantità Venduta Column -->
      <ng-container matColumnDef="soldQuantity">
        <th mat-header-cell *matHeaderCellDef>Quantità Venduta</th>
        <td mat-cell *matCellDef="let product">{{product.soldQuantity}}</td>
      </ng-container>

      <!-- Colonna Quantità In Magazzino  -->
      <ng-container matColumnDef="stockQuantity">
        <th mat-header-cell *matHeaderCellDef>Quantità In Magazzino</th>
        <td mat-cell *matCellDef="let product">{{product.stockQuantity}}</td>
      </ng-container>

      <!-- Colonna Azioni -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button color="primary" (click)="editProduct(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="decreaseQuantity(product)">
            <mat-icon>remove_circle</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProduct(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginazione -->
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 7, 10]"
      (page)="onPageChange($event)" aria-label="Seleziona pagina">
    </mat-paginator>
  </div>

  <!-- Dialog di modifica -->
  @if (currentProduct) {
  <div class="dialog">
    <div class="modal-title">
      <h1 style="font-size: 35px; color:black ; margin: 0; margin-bottom: 10px">Modifica Prodotto</h1>
    </div>
    <div class="dialog-content">
      <form [formGroup]="editForm" (ngSubmit)="updateProduct()">
        <div class="form-field">
          <input formControlName="name" placeholder="Inserisci il nome del prodotto">
          <label style="background-color: white;">Nome</label>
        </div>

        <div class="form-field">
          <input matInput type="number" formControlName="stockQuantity">
          <label style="background-color: white;">Quantità In Magazzino</label>
        </div>

        <div class="form-field" style="margin-bottom: 0%;">
          <input matInput type="number" step="0.01" formControlName="price">
          <label style="background-color: white;">Prezzo</label>
        </div>

        <div class="dialog-actions">
          <button mat-button type="button" (click)="currentProduct = null">Annulla</button>
          <button mat-raised-button class="submit-button" type="submit" [disabled]="!editForm.valid">
            Salva
          </button>
        </div>
      </form>
    </div>
  </div>
  }

  @if (productToDelete) {
  <div class="dialog" style="width: fit-content;">
    <div class="modal-title">
      <h1 style="font-size: 35px; color:black ; margin: 0; margin-bottom: 10px">Elimina Prodotto</h1>
    </div>
    <div class="dialog-content">
      <div style="margin-bottom: 10%;">
        <span>Sei sicuro di voler eliminare il prodotto selezionato?</span>
      </div>

      <div class="dialog-actions">
        <button mat-button type="button" (click)="productToDelete = null">Annulla</button>
        <button mat-raised-button class="submit-button" type="submit" (click)="confirmDeleteProduct()">
          Conferma
        </button>
      </div>

    </div>
  </div>
  }
